/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*@font-face { font-family: MyType; src: url('/assets/MyType.otf'); } */

/* http://stackoverflow.com/questions/10905905/using-fonts-with-rails-asset-pipeline */

body {
  background-image:url('/assets/pattern.png');
  background-repeat:repeat;
  background-color: #EBEBEB;
}

#logo {
  background-color: #d6d6d6;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  border: 1px solid black;
 }

#main {
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 7px;
  border: 1px solid black;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: arial;
 }

#main a {
  font-family: arial;
}

.flash {
  background-color: orange;
  padding-left: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: arial;
  font-size: 24px;
  border-radius: 7px;
}

input {
  border-radius: 7px;
  height: 30px;
  background-color: #ffffee;
  box-shadow: inset 2px 2px 5px #888888;
  font-size: 18px;
}

label {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}
