
<br />

<h2>My Gigs</h2>
<table>
  <% @gigs.each do |gig| %>
  <tr>
    <td><%= link_to gig.title, gig %></td><td><%= link_to "Edit", edit_gig_path(gig, :form => "properties") %></td>
  </tr>
  <% end %>
</table>

